xcuserdata/
Game1A2B.xcodeproj/xcuserdata/liweichen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Game1A2B.xcodeproj/project.xcworkspace/xcuserdata/liweichen.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
